<!DOCTYPE html>
<html>
<head>
<title>University review</title>
</head>
<style>
*
{
  margin:0px;
  padding:0px;
}
body
{
  background-image:url(images/k.jpg);
  background-repeat:repeat-x;

   
}
li.one
{
  list-style:none ;
  background-color:blue;
   border-top:1px solid white;
   border-bottom:1px solid white;
   width:185px;
   height:35px;
   line-height:35px;
   text-align:center;
   float:left;
   position:relative;

}
div ul.four
{
  list-style:none ;
  background-color:none;
   border:1px solid white;
   width:155px;
   height:50px;
   line-height:50px;
   border:15px;
   float:left;
   position:relative;



}

li{
  list-style:none ;
  background-color:blue;

   border-top:1px solid white;
   border-bottom:1px solid white;
   border-top-right-radius: 1px white;
   width:140px;
   height:35px;
   line-height:35px;
   text-align:center;
   float:left;
   position:relative;
}
li.two{
  list-style:none ;
  background-color:blue;

   border:1px solid white;
   width:140px;
   height:35px;
   line-height:35px;
   text-align:center;
   float:right;
   position:relative;
}


a{
  text-decoration:blink;
  color:white;
  display:block

}

a.one{
  text-decoration:none;
  color:white;
  text-shadow: 4px 4px black;
  display:block;

}
a:hover{
  background-color:red;
}
ul ul{
  position:absolute;
  display:none;
}


ul li:hover>ul
{
  display:block;
}
h1
{
  color:blue;
  text-shadow: 2px 2px black;
  display:block;
}
div.one{
  background-color: marun;
  text-decoration-color: ;
  width:280px;
  border:15px soliz pink;
  padding:25px;
  margin:25px;
}

h1.three
{
  color:white;
}


div.footer{
  padding:1em;
  color:white;

  background-color: black;
  clear:left;
  text-align:center;



}
article {

    padding: 24em;
    overflow: hidden;

}


</style>
<body>
    <ul>
      <li class="one"><a class="one" href="#"><span> <img src="images/i.jpg"width="18"height="18"/></span>  TOP UNIVERSITIES</a></li>
      <li><a href="#">Rankings  <span> <img src ="  images/ar.png"width="12"height="14"</span></a>
      <ul>
        <li><a href="http://www.universityrankings.ch/results/overview_of_rankings">Rankings overview</a></li>
          <li><a href="https://www.timeshighereducation.com/world-university-rankings/2017/world-ranking#!/page/0/length/25/sort_by/rank/sort_order/asc/cols/stats">World University Rankings</a></li>
          <li><a href="https://www.timeshighereducation.com/world-university-rankings/by-subject">World University Rankings by Subject</a></li>
          <li><a href="https://www.timeshighereducation.com/student/news/best-universities-graduate-jobs-global-university-employability-ranking-2016">Graduate Employee Rankings</a></li>
          <li><a href="https://www.usnews.com/best-colleges/rankings/regional-universities">University Ranking by Region</a></li>
          <li><a href="http://www.news.com.au/national/victoria/the-best-cities-in-the-world-to-be-a-student/news-story/095b7d192f554da8841fa18b3c1b1fac">Best Student Cities</a></li>
          <li><a href="http://yourmcmurraymagazine.com/features/top-50-under-50">Top 50 Under 50</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Rankings_of_universities_in_Pakistan">System Strength Rankings</a></li>
          <li><a href="https://stars.aashe.org/pages/about/stars-overview.html">Stars Raiting System</a></li>
          <li><a href="https://www.uc.edu/orgs/ucleaf/newsletters/relatedarticles.html">Related Article</a></li>
      </ul>
    </li>
      <li><a href="#">Discover<span> <img src =" images/ar.png"width="12"height="14"</span></a>
        <ul>
          <li><a href="/universities/all">University search<span> <img src=""width="12"height="12"/></span></a></li>
            <li><a href="#">Subject guides</a></li>
            <li><a href="#">Study destination guide</a></li>
            <li><a href="#">Scholarship advice</a></li>

        </ul>
      </li>
      <li><a href="#">Events<span> <img src ="  images/ar.png"width="12"height="14"</span></a>
        <ul>
          <li><a href="#">Events overview</a></li>
            <li><a href="#">World Grade School Tour</a></li>
            <li><a href="#">World University Tour</a></li>

        </ul>
      </li>
      <li><a href="#">Prepare<span> <img src ="  images/ar.png"width="12"height="14"</span></a>
        <ul>
          <li><a href="#">Free test preparation<span> <img src="image.png"width="12"height="12"/></span></a></li>
            <li><a href="#">Choosing a university</a></li>
            <li><a href="#">Student Finance</a></li>
            <li><a href="#">Prepering to study abroad</a></li>
            <li><a href="#">student guide</a></li>
        </ul>

      </li>
      <li><a href="#">Apply<span> <img src ="  images/ar.png"width="12"height="14"</span></a>
        <ul>
          <li><a href="#">University profile</a></li>
            <li><a href="#">Admission advise</a></li>
            <li><a href="http://www.mju.ac.kr/mbs/mjuen/subview.jsp?id=mjuen_020301030000">Scholarship</a></li>

        </ul>
      </li>
      <li><a href="#">Careers<span> <img src ="  images/ar.png"width="12"height="14"</span></a>
        <ul>
          <li><a href="http://www.lifehack.org/articles/work/the-most-powerful-career-advice-that-every-college-student-needs-know.html">Career Advice</a></li>

      </ul>


      </li>
     
      <li class="two"><a class="Like" href="/signin"><span> <img src="  images/gr.png  "width="18"height="18"/></span> <span> <img src="  images/Like.jpg  "width="18"height="18"/></span>    Sign in</a></li>
      <li class="two"><a class="Like" href="/signup"><span> <img src="  images/gr.png  "width="18"height="18"/></span> <span> <img src="  images/Like.jpg  "width="18"height="18"/></span>    Sign up</a></li>




    </ul>

  </div>
  <p align="right" >
   
 <i><u><b color=>Independent University Bangladesh Review (IUB).......</b></u></i></p>
  <iframe width="360" height="215" align="right" src="https://www.youtube.com/embed/pb5Qz7gl-Xg" frameborder="0" allowfullscreen></iframe>

  </p><br><br><br><center><i><h1>World Wide University Review</h1></i></center></p>
  <div class="one"><h1 class="three">Succed<sub> with our<br>top tips on admissions,<br>job and student life...</sub></h1>


  </div>
  <br><br><br><br><br><br><br>
  <div>
    <ul class="four">
      <li><a href="#">Quick Link</a>
      <ul>
      <li><a href="#">Unde Graduate Studies</a></li>
      <li><a href="#">Postgraduate Studies</a></li>
    </ul>
  </li>
    </ul>
  </div>
  
  
  
  
  <article>
  <h1 style="color:pink">TOP RANKING UNIVERSITY BOOKS & STATEGY of STUDY</h1>
  <img src="images/book.jpg">
   <h1>Time Management</h1><br>
   <strong><pre>
Start using a calendar, planner, or task list at the start of the semester
Write down important dates for exams, assignments and other projects on a calendar

   </pre></strong>

   <h1>Text Book Reading</h1><br>
   <strong><pre>
Find out how you'll be evaluated on your knowledge of the readings.For example, do you need to know
the textbook inside out? Or is the text a supplement to the lectures? Think carefully about reading
strategies and techniques that will help you the most in each course.Skimming, scanning, and in-dept
methods can all be good reading strategies, depending on the course

   </pre></strong>


   <h1>Exam Preparation</h1><br>
   <strong><pre>
Locate one or two good study places with few distractions or interruptions Review the course outline
for information about what your professor expects you to learn in the course Review previous quizzes,
assignments, papers, labs, etc. to pinpoint where you've had difficulty in the course. Make sure you
understand that material since you may see it again in the next exam.
   </pre></strong>
   <br><br>
      <br><br>
   <img src="images/hanl.jpg" width="200" hight="220">
   <img src="images/ha.jpg" width="200" hight="220">
   <img src="images/arden.png" width="200" hight="220">
   <img src="images/mitl.png" width="360" hight="400">
   <img src="images/11.png" width="200" hight="220">
   <img src="images/10.jpg" width="200" hight="220">

   <br><br><br>
      <br><br>

    <a href="https://www.hanover.edu"><img src="images/hanl.jpg" width="27" height="24"> hanover college-Australia   </a><br>
    <a href="https://college.harvard.edu/"><img src="images/harl.jpg" width="27" height="24"> Harvard University-USA </a><br>
  <a href="https://arden.ac.uk/ "><img src="images/arden.png" width="27" height="24"> Arden University-UK </a><br>
  <a href="http://www.anu.edu.au/"><img src="images/11.png" width="27" height="24">Australian National University</a><br>

</article>




<div class="footer">
<footer>
  <a href="https://www.facebook.com/"><img src="images/fab.png" width="52" height="47"></a>
    <a href="https://twitter.com/tuiter"><img src="images/twi.png" width="52" height="47"></a>
    <p>Powered by <a href="www.google.com" target="_blank">Md.Mahafuzur Rahaman</a>
      <p>phone:+08801753976363</p>
      <p>email:1420224@iub.edu.bd</p>
      <p>phone:mahafuzrajbd83@gmail.com</p>
    </p>

</footer>





</body>

</html>
