<!DOCTYPE html>
<html>
<head>
<title>University review</title>
</head>
<style>
*
{
  margin:0px;
  padding:0px;
}
body
{
  background-image:url(../images/k.jpg);
  background-repeat:repeat-x;
}
a{
  color: white;
}
</style>
<body>
01.<a href="https://www.hanover.edu"><img src="../images/hanl.jpg" width="27" height="24"> hanover college-Australia   </a><br>

02.<a  href="http://web.mit.edu/ "><img src="../images/mitl.png" width="27" height="24">Massachusetts Institute of Technology-USA  </a><br>


03.<a href="https://college.harvard.edu/"><img src="../images/harl.jpg" width="27" height="24"> Harvard University-USA </a><br>
04.<a href="https://arden.ac.uk/ "><img src="../images/arden.png" width="27" height="24"> Arden University-UK </a><br>
05.<a href="http://www.ox.ac.uk/"><img src="../images/ox.png" width="27" height="24">University of Oxford-UK </a><br>
06.<a href="https://www.ethz.ch/en.html"><img src="../images/ges.png" width="27" height="24">ETH Zurich-Switzerland </a><br>
07.<a href="https://www.pct.edu/"><img src="../images/Uni.png" width="27" height="24">Pennsylvania College of Technology-USA  </a><br>
08.<a href="https://www.utoronto.ca/"><img src="../images/imand.jpg" width="27" height="24">University of Toronto-Canada  </a><br>
09.<a href="http://www.nus.edu.sg/"><img src="../images/NSU.png" width="27" height="24">National University of Singapore</a><br>
10.<a href="http://www.hku.hk/"><img src="../images/10.jpg" width="27" height="24">University of Hong Kong </a><br>
11.<a href="http://www.anu.edu.au/"><img src="../images/11.png" width="27" height="24">Australian National University</a><br>
12.<a href="http://www.ens.fr/?lang=en/"><img src="../images/12.png" width="27" height="24">Ecole normale supérieure, Paris-France</a><br>
13.<a href="http://www.u-tokyo.ac.jp/en/index.html"><img src="../images/13.jpg" width="27" height="24">The University of Tokyo-japan</a><br>
14.<a href="http://www.ust.hk/"><img src="../images/14.png" width="27" height="24">The Hong Kong University of Science and Technology</a><br>
15.<a href="http://www.kyoto-u.ac.jp/en"><img src="../images/15.png" width="27" height="24">Kyoto University-Japan</a><br>
16.<a href="http://sydney.edu.au/"><img src="../images/16.png" width="27" height="24">The University of Sydney-Australia</a><br>
17.<a href="http://www.cuhk.edu.hk/english/index.html "><img src="../images/17.png" width="27" height="24">The Chinese University of Hong Kong </a><br>
18.<a href="http://www.college.ucla.edu/"><img src="../images/18.png" width="27" height="24">University of California, Los Angeles (UCLA)-USA</a><br>
19.<a href="http://www.ntu.edu.sg/Pages/home.aspx"><img src="../images/19.png" width="27" height="24">Nanyang Technological University (NTU)-Singapore</a><br>
20.<a href="https://www.uq.edu.au/"><img src="../images/20.jpg" width="27" height="24">The University of Queensland-Australia</a><br>
21.<a href="http://www.ku.dk/english/"><img src="../images/21.jpg" width="27" height="24">University of Copenhagen-Denmark</a><br>
22.<a href="http://english.pku.edu.cn/"><img src="../images/22.jpg" width="27" height="24">Peking University-China</a><br>
23.<a href="http://www.tsinghua.edu.cn/publish/newthuen/index.html"><img src="../images/23.png" width="27" height="24">Tsinghua University-China</a><br>
24.<a href="http://www.uni-heidelberg.de/index_e.html"><img src="../images/24.png" width="27" height="24">Heidelberg University-German</a><br>





</body>
</html>
