<!DOCTYPE html>
<html>
<head>
<title>University review</title>
</head>
<style>
*
{
  margin:8px;
  padding:3px;
}
body
{
  background-image:url(../images/vga.png);
  background-repeat:repeat-x;
}
a{
  color: black;
   text-decoration:none;
  
}


</style>
<body>
  <ol>
   <% for(var i=0; i<universities.length; i++) { %>

        <li>
        <a href="<%= '/universities/'+universities[i]._id %>"><img src="<%= universities[i].photo %>" width="27" height="24"><%= universities[i].name %> </a></li>
      <%}%>
  </ol>
  







</body>
</html>
